@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/header.css" rel="stylesheet" />
<link href="~/css/Home.css" rel="stylesheet" />

<script src="~/js/menu_dropdown.js"></script>
<script src="~/js/open-modal.js"></script>

<div class="text-center">
   <section class="conteudo-home">
        <div id="bem-vindo-container">
            <p>
                <span>Bem-Vindo</span>
            </p>
            <p class="frase-secundaria">
                <span style="margin-left: 5vh;">ao </span>
                <span class="destaque" style="font-size: 11vh">Farol Seguro</span>
            </p>
        </div>

    <img id="img-conteudo" 
         src="~/farol home.svg" 
         alt="Imagem do Farol Seguro" 
         width="500" 
         height="500" />
</section>
</div>

<script src="~/js/menu_dropdown.js"></script>
    <script src="~/js/open-modal.js"></script>
