.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 25px;
    font-family: "Paytone One", sans-serif;
}

.stats-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.stats-number {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0;
}

.stats-label {
    font-size: 0.9rem;
}
