html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dashboard-container {
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.card-custom {
    background: #111;
    color: white;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    border: 2px solid #e60023;
    transition: .3s;
}

    .card-custom:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 15px rgba(0,0,0,0.35);
    }

    .card-custom h3 {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .card-custom span {
        font-size: 28px;
        font-weight: bold;
        color: #e60023;
    }

/* Tabela */
.table-custom {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

    .table-custom thead {
        background: #111;
        color: white;
    }

.status-badge {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.status-Pendente {
    background: #e60023;
    color: white;
}

.status-Respondida {
    background: #00bcd4;
    color: white;
}

.status-Resolvida {
    background: #4caf50;
    color: white;
}

.status-Encerrada {
    background: #555;
    color: white;
}

/* Sino de notificação */
.notification-icon {
    position: relative;
    font-size: 22px;
    cursor: pointer;
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    background: #e60023;
    border-radius: 50%;
}
